*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
    html {
        font-size: 62.5%; 
       }


$black:#000000;
$background-gray:#e4e4e4;
$white:#fff;
$gray:#7e7d7d;

body{
    font-family: 'Cabin', sans-serif;
        
   
}

// Hamburger menu 


// Styling the get-started Button
.get-started {
    background-color:$black;
    color:$white;
    height:5rem;
    width:12rem;
    border-radius:0.5rem;
    border:none;
    font-size:1.5rem;
}
.get-started:hover{
    cursor:pointer;
    background-color: #d6d6d6;
    color:$black;
    border:1px solid $black;
}
// Header styling
.header{
    height:5vh;
    width:100%;
    background-color: $black;
    color:$white;
    font-size:2rem;
    display:flex;
    align-items: center;
    justify-content: center;
    span{
        text-decoration:underline;
    }
}


// Main section styling
.main-section{
    height:80vh;
    background-color:$background-gray;
    .navbar{
        margin:0.4rem 0;
        position:relative;
        .navbar-container{
            width:85vw;
            height:10vh;
            margin: 0 auto;
            display:flex;
            align-items: center;
            justify-content: space-between;
            font-size:1.8rem;
            .hamburger{
                display:none;
                button{
                background-color:transparent;
                border:none;
                }
                button:hover{
                    cursor:pointer;
                }
                
            }
            
            .logo{
                font-weight:700;
            }
            ul{
                display:flex;
                li{
                    padding:0 5rem;
                   list-style-type: none;
                }
            }
            .buttons{
                .login{
                    background-color: transparent;
                    height:5rem;
                    width:10rem;
                    border-radius:0.5rem;
                    border:none;
                    font-size:1.5rem;
                }
            }
        }
        .modal{
            display:none;
            height:25rem;
            width:100%;
            margin:10vh auto;
            border-radius:2rem;
            background-color:$white;
            position:absolute;
            font-size:1.5rem;
            ul {
                display:flex;
                align-items: center;
                justify-content: center;
                flex-direction:column;
                li{
                    list-style-type: none;
                    padding:1.5rem 0;
                    margin:0.5rem 0;
                }
                
            }
          
        }
        .open-modal{
            display:block;
        }
    }
    .main-container{
        width:85vw;
        margin:0 auto;
        display:flex;
        align-items: center;
        justify-content: center;
        .text{
            height:60vh;
            flex:2;
            padding:4rem 0;
            h1{
                font-size:6rem;
                width:60%;
                letter-spacing: 0.2rem;
            }
            .text-p{
                color:$gray;
                font-size:2rem;
                width:65%;
                font-weight:500;
            }
            .features{
                    p{
                        font-size:2rem;
                        font-weight:500;
                        img{
                            margin-right:1rem;

                        }
                    }
            }
            .buttons{
                margin-top:2rem;
                input{
                    height:5rem;
                    width:24rem;
                    font-size:1.8rem;
                    padding-left:0.8rem;
                    border-radius: 0.4rem;
                }
            }
        }
        .image{
            height:60vh;
            flex:1;
            background-image: url("assets/Hero\ Image.png");
            background-size: 100% 100%;
        }
    }

    
}

.section{
    height:86vh;
    header{
        height:10vh;
        width:85vw;
        margin:0 auto;
        display:flex;
        align-items: center;
        justify-content: space-between;
        img{
            height:5rem;
            width:17rem;
        }
    }
    .section-container{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .card{
            height:38vh;
            width:70vw;
            display:grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 1fr;
            .text{
                h2{
                    font-size:4rem;
                }
                padding: 8rem;
                
                p{
                    color:$gray;
                    font-size:1.5rem;
                    font-weight:500;
                }
                a{
                    font-size:1.8rem;
                    color:$black;
                }
            }
        }
        .card1{
            background-color:$background-gray;
            .image{
                background-image:url("assets/phone_mockup_half.jpg");
                background-size: 100% 100%;
            }
        }
        .card2{
            .image{
                background-image:url("assets/Text\ Editor.png");
                background-size: 100% 100%;;
            }
        }
    }
}



footer{
    height:20vh;
    background-color:$black;
    display:flex;
    align-items: center;
    font-size:1.8rem;
    .footer-container{
        width:85vw;
        margin:0 auto;
        height:12vh;
        display:flex;
        .text{
            width:60rem;
            p{
                color:$gray;
            }
        }
        
        .lists{
            width:100%;
            display:flex;
            justify-content: space-around;

            li{
                list-style-type:none ;
                color:$white
            }
            
        }
        
    }
    
}


// Responsive design
@media only screen and (max-width:1510px){
    .main-section{
        .main-container{
            .text{
                h1{
                    font-size:5rem;
                }
            }
        }
    }
}
@media only screen and (max-width:1490px){

    
    .logo-width{
        display:none
    }
}

@media only screen and (max-width:1245px){
    .section{
        .section-container{
            .card{
                .text{
                    padding:1rem 0 0 0 ;
                }
            }
        }
    }
    footer{
        p{
            font-size:1.2rem;
        }
    }
}

@media only screen and(max-width:1200px){
    .header{
        font-size:1.7rem;
        height:8vh;
    }
    .main-section{
        .main-container{
            .text{
                .text-p{

                    font-size:1.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 1180px){
    .main-section{
        .navbar{
            .navbar-container{
                width:95vw;
            }
        }
        .main-container{
            width:95vw;
            .text{
                h1{
                    font-size:4rem;
                }
            }
            .image{
                flex:2;
            }
        }
    }
}
@media only screen and (max-width:1000px){
    .section{
        .section-container{
            .card{
                width:85vw;
            }
        }
    }
}
@media only screen and (max-width:976px){
    .header{
       
        font-size:1.4rem;
        height:8vh;
    }

    
    .medium-logo-width{
        display:none;
    }
}




@media only screen and (max-width:846px){
    .main-section{
        .navbar{
            .navbar-container{
                ul{
                    li{
                        padding:0 0.3rem;
                    }
                }
            }
        }
    }
    .footer{
        align-items: flex-start;
        padding-top:1rem;
            .footer-container{
                
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                .lists{
                    padding-top:2rem;
                    li{
                        font-size:1.4rem;
                    }
                }
            }
    }
}
@media only screen and (max-width:760px){
    header{
        text-align:center;
    }
    .main-section{
        height:100vh;
       
        .main-container{
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2,1fr);
            
            .text{
                width:95vw;
                height:45vh;
                h1{
                    width:100%;
                }
                .text-p{
                    width:100%;
                }
            }
            .image{
                background:url("assets/Hero\ Image\ without\ Box.png");
                background-size:100% 100%;
                width:60%;
                height:35vh;
                margin:0 auto;
            }
    }
    }
    .section{
        header{
            width:95vw;
            
        }
        .section-container{
            .card{
                width:100%;
            }
        }
    }
}
@media only screen and (max-height:700px){
    .main-section{
        
        height:120vh;
        .main-container{
            .text{
                .buttons{
                    input{
                        height:3rem;
                        width:20rem;
                        }
                }
                h1{
                    font-size:2rem;
                }
            }
        }
    }
    
}
@media only screen and (max-height:600px){
    .section{
        .section-container{
            .card{
                display:flex;
                align-items: center;
                justify-content: center;
                .image{
                    display:none;
                }
            }
        }
    }
}
@media only screen and (max-width:700px){
    .main-section{
        .main-container{
            .text{
                h1{
                    font-size:3rem;
                }
            }
        }
    }
    footer{
        height:30vh;
        align-items: flex-start;
        padding:1rem;
            .footer-container{
                .lists{
                    display:grid;
                    gap:1rem;
                    grid-template-columns:repeat(2,1fr) ;
                    grid-template-rows:repeat(2,1fr) ;
                    li{
                        font-size:1.3rem;
                    }
                }
            }
    }
}
@media only screen and (max-width:580px){
    .section{
        height:110vh;
        .section-container{
            .card{
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2,1fr);
                height:50vh;
                .image{
                    width:90vw;
                    margin:0 auto;
                }
            }
        }
    }
}

@media only screen and(max-width:540px){

    .main-section{
        .navbar{
            .navbar-container{
                .navbar-list{
                    display:none;
                }
                
                .hamburger{
                    display:block;
                }
                .buttons{
                    display:none;
                }
            }
            
        }
       
    }


    .section{
        header{
            justify-content: space-around;
            img{
                width:8rem;
                height:3.5rem;
            }
        }
    }
}

@media only screen and (max-width:420px){
    .main-section{
        .main-container{
            .text{
                text-align:center;
                .features{
                    p{
                        font-size:1.4rem;
                        img{
                            height:1rem;
                            width: 1rem;
                        }
                    }
                }
            }
        }
    }
}
